sudo: false
language: php
php:
  - 5.5
  - 5.6
  - 7
  - 7.1
  - hhvm
before_script:
  - composer self-update
  - composer install
script:
  - ./vendor/bin/phpunit --coverage-clover=coverage.clover
after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
