<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite>
            <directory>tests/unit/src</directory>
            <directory>tests/container/src</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/</directory>
            <directory>config/</directory>
        </whitelist>
    </filter>
</phpunit>
